.characters-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
  margin-bottom: 2em;
  flex-direction: row;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 7em;
  margin-top: 15px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.page-item:not(.disabled) {
  cursor: pointer;
}

.header{
  display: block;
}
